.photo img {
    pointer-events: none;
    width: 100%;
}

.photo.pre-load {
    opacity: 0;
}

.photo.fade-in {
    animation-name: fade-in; 
    animation-duration: 5s;
    animation-timing-function: ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}